<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #valueRequestForm="ngForm">
      <div class="form-group">
        <label for="currency">Currency</label>
        <input type="text" [(ngModel)]="requestDTO.currency"
               class="form-control"
               id="currency"
               name="currency"
               placeholder="Enter currency code (3 letters only!)"
               required minlength="3" maxlength="3" pattern="[a-zA-Z]*" #currency="ngModel">
      </div>
      <div [hidden]="currency.untouched || currency.valid" class="alert alert-danger">Currency code is not in the correct format</div>
      <div class="form-group">
        <label for="name">Name and surname</label>
        <input type="text" [(ngModel)]="requestDTO.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your name and surname"
               required pattern="^[a-zA-Z]+( [a-zA-Z]+)?(-[a-zA-Z]+)?$" #name="ngModel">
        <div [hidden]="name.untouched || name.valid" class="alert alert-danger">Name is not in the correct format</div>
      </div>
      <button type="submit" [disabled]="!valueRequestForm.form.valid"
              class="btn btn-info">Submit
      </button>
      <p></p>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div class="form-group">
        <label for="name">Currency rate</label>
        <p>{{returnedCurrencyRateValue.value}}</p>
      </div>
    </form>
  </div>
</div>
